Source: ros-hydro-rosconsole-bridge
Section: misc
Priority: extra
Maintainer: Mirza Shah <mshah@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-console-bridge, ros-hydro-rosconsole
Homepage: http://www.ros.org/wiki/rosconsole_bridge
Standards-Version: 3.9.2

Package: ros-hydro-rosconsole-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-console-bridge, ros-hydro-rosconsole
Description: rosconsole_bridge is a package used in conjunction with console_bridge and rosconsole for connecting console_bridge-based logging to rosconsole-based logging.
