Source: ros-fuerte-rosconsole-bridge
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-fuerte-catkin, ros-fuerte-console-bridge, ros-fuerte-ros-comm
Homepage: http://ros.org/wiki/random_numbers
Standards-Version: 3.9.2

Package: ros-fuerte-rosconsole-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-fuerte-console-bridge, ros-fuerte-ros-comm
Description: This package offers a macro definition that makes it such that the output from console-bridge is sent to rosconsole
 .
 This stack contains the packages:
 * /tmp/tmpILVD8c/clone: rosconsole_bridge
